- parsley_required = @property.data(:compensation, :decide) == 'true'

= property_panel 'payment' do
  .form-group
    span = t 'property.payment.how_much'
    = @f.text_field 'data[payment][how_much]',
      type: 'tel',
      class: 'form-control payment-how-much',
      data: { \
        parsley_required: parsley_required,
        parsley_error_message: t('property.error.required'),
        parsley_group: 'compensation' }
    span = t 'property.payment.currency'
    .parsley-error

  .form-group.payment-to-whom
    = @f.radio_button 'data[payment][to_whom]', 'husband',
      data: { \
        parsley_required: parsley_required,
        parsley_error_message: t('property.error.required'),
        parsley_group: 'compensation',
        name: 'Mannen' }
    = @f.radio_button 'data[payment][to_whom]', 'wife',
      data: { \
        parsley_required: parsley_required,
        parsley_error_message: t('property.error.required'),
        parsley_group: 'compensation',
        name: 'Kvinnan' }
    span = t 'property.payment.to_whom'
    .parsley-error
