/ 0. FAQ section
.alwaysbreak == render 'info/property_reports/files/0_faq'

/ 1. Initial text
.alwaysbreak == render 'info/property_reports/files/1_init'

/ 2. Tillgångar och skulder - Assets and debts
.alwaysbreak == render 'info/property_reports/files/2_assets'

/ 3. Andelsberäkning - Calculating net worth

/ 4. Bodelning - Who gets what

/ 5. Bodelningslikvid - Anyone paying the other anything

/ 6. Övrigt - Misc

/ 7. Underskrift - Signatures

/ 8. Skatteuträkning - Tax calculations
