.property-form
  position: relative
  display: flex
  flex-direction: row
  margin: 0 auto 80px
  border: 1px solid #BDC0C9
  border-radius: 8px


  .form-progress
    flex: 0.4
    min-height: 100%
    padding: 30px
    padding-right: 0
    color: #2D333D
    background: #DBECFF
    border-right: 1px solid #BDC0C9
    border-top-left-radius: 7px
    border-bottom-left-radius: 7px

    @media (max-width: 767px)
      display: none

    .steps
      margin-top: -10px

    .step
      position: relative
      display: flex
      align-items: center
      margin-top: 30px

      .icon
        display: inline-flex
        align-items: center
        justify-content: center
        width: 51px
        height: 51px
        background: white
        border: 1px solid #8B8B8B
        border-radius: 50%
        user-select: none

      img
        margin-left: 1px

      span
        margin-left: .5rem
        font-size: 18px

      &.done,
      &.current
        span
          font-weight: bold

      &:before
        content: ''
        display: inline-block
        position: absolute
        width: 1px
        left: 25.5px
        margin-left: -0.5px
        top: -30px
        bottom: 100%
        background: #8B8B8B
        z-index: 1

      &.done,
      &.current
        &:before
          width: 3px
          margin-left: -1.5px
          background: #50A1FD

      &.current
        &:after
          content: ''
          display: inline-block
          position: absolute
          width: 3px
          left: 25.5px
          margin-left: -1.5px
          top: 100%
          bottom: -5px
          background: #50A1FD
          z-index: 1

      &:first-of-type
        &:before
          content: none

      &:last-of-type
        &:after
          content: none

    .substep
      position: relative
      padding-left: 32.5px
      margin-left: 25.5px
      padding-right: 20px

      &.done
        span
          font-weight: bold

      &:before
        content: ''
        display: inline-block
        position: absolute
        width: 1px
        left: 0
        margin-left: -0.5px
        top: 0
        bottom: 0
        background: #8B8B8B
        z-index: 1

      &.done
        &:before
          width: 3px
          margin-left: -1.5px
          bottom: -5px
          background: #50A1FD

      &.done
        &:after
          content: ""
          position: absolute
          top: 0
          left: 14px
          font-family: "Web Icons"
          color: #13C26D

      &.current
        background: rgba(0, 0, 0, 0.05)

        &:before
          top: 5px

        &:after
          content: ''
          position: absolute
          top: 4px
          left: -5.5px
          width: 11px
          height: 11px
          background: #50A1FD
          border-radius: 50%
          z-index: 2


  form
    flex: 1
    color: #2D333D

  .h3
    margin-top: 0
    font-size: 20px
    font-weight: 300

  .panel
    padding: 30px

  .panel-body
    padding: 20px
    background: #F5F6F7
    border: 1px solid #DFE0E5
    border-radius: 6px

  h4
    color: #50A1FD
    font-size: 21px

    &:first-child
      margin-top: 0

  label
    color: #2D333D
    font-weight: 400

  fieldset
    display: none

    &.active
      display: block

  .panel-body.panel-flat
    padding: 0
    border: none
    background: white

  .asset,
  .debt
    position: relative
    border: 1px solid #BDC0C9
    padding: 18px 10px
    background: #F5F6F7
    transition: background 0.3s, border 0.1s

    &:first-of-type
      margin-top: 20px
      border-top-left-radius: 5px
      border-top-right-radius: 5px

    &:last-of-type
      border-bottom-left-radius: 5px
      border-bottom-right-radius: 5px

    & + .asset,
    & + .debt
      border-top-width: 2px

    & + .asset.minimized,
    & + .debt.minimized
      border-top-width: 0px

    .h3
      padding-left: 10px
      margin-top: 3px
      margin-bottom: 2px
      font-weight: 400
      text-transform: uppercase

    .asset-fields,
    .debt-fields
      padding: 10px 15px

    h4
      color: #2D333D
      margin-top: 6px
      margin-bottom: 4px
      line-height: 1

    hr
      border-color: #BDC0C9

    .rangeUi-bar
      position: relative
      top: 0.5px
      height: 3px
      background-color: #BDC0C9
      border-radius: 2px

    .rangeUi-selected
      border-radius: 2px

    .rangeUi-pointer
      top: -7px
      width: 18px
      height: 18px
      background-color: #50A1FD
      border-color: #50A1FD

    p
      font-size: 16px

    .remove-asset,
    .remove-debt,
    .maximize-asset,
    .maximize-debt,
    .minimize-asset,
    .minimize-debt
      position: absolute
      display: flex
      justify-content: center
      align-items: center
      top: 20px
      right: 20px
      width: 29px
      height: 27px
      margin-left: auto

    .remove-asset,
    .remove-debt
      right: 80px

      img
        width: 15px
        height: 18px

    .maximize-asset,
    .maximize-debt
      display: none

    &.minimized
      background: white

      .asset-fields,
      .debt-fields
        display: none

      .maximize-asset,
      .maximize-debt
        display: flex

      .minimize-asset,
      .minimize-debt
        display: none

  .add-asset,
  .add-debt
    padding: 30px 20px
    background: #E3E7F4
    border: 1px solid #50A1FD
    border-radius: 5px

    select
      display: inline
      position: relative
      top: 1px
      width: initial
      margin-right: 20px
      border-color: #BDC0C9
      border-radius: 5px

    .btn
      padding: 0.35rem 1rem
      border-radius: 8px
      font-size: 16px
      font-weight: 400
      text-transform: uppercase

    @media (max-width: 767px)
      select
        display: block
        width: 100%
        margin-right: 0
        margin-bottom: 16px

      .btn
        display: block

  .payment-how-much
    display: inline-block
    width: 150px
    margin: 0 8px

  .payment-to-whom
    label
      display: inline-block
      padding: 12px
      margin-right: 8px
      background: #DFE0E5
      border-radius: 8px

    input:checked:not([disabled]) + label:hover
      background: #9E7D4C

    input:checked + label
      background: #B59058

  textarea.other-field
    min-height: 300px

  select.d-inline
    width: initial

  .interest-rate
    display: inline-block
    width: 100px
    margin: 0 8px

  .radio-custom
    label::before
      width: 24px
      height: 24px
      margin-top: -2px
      margin-left: -22px

    input:checked + label::before
      border: 1px solid #e4eaec !important

    label::after
      color: white
      transition: color 0.3s

    input:checked + label::after
      content: ""
      top: 0
      left: 4px
      border: none
      color: #13C26D
      font-family: "Web Icons"

  .if-interest-before,
  .if-interest-after
    overflow: hidden

  .parsley-errors-list
    color: #ff4c52
    padding: 0
    margin-top: 4px
    list-style: none

    li ~ li
      display: none !important

  .parsley-error
    ul ~ ul
      display: none !important

  .faq .answer
    p:last-of-type
      margin-bottom: 0

  .form-actions
    display: flex
    flex-direction: row
    justify-content: flex-end
    position: relative
    text-align: center
    margin: -10px 30px 30px

    button
      position: relative
      padding: 0.5rem 1.5rem
      border-radius: 8px
      color: white
      font-size: 16px
      font-weight: 400
      text-transform: uppercase
      box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.5)

      &.btn-default
        background: #8B8B8B
        border-color: #8B8B8B

      &.btn-success
        background: #13C26D

    .arrow-next
      position: absolute
      top: -20px
      right: 50%
      margin-right: 100px

    @media (max-width: 767px)
      flex-direction: column-reverse
      margin: 32px 30px 0

      button
        width: 100%
        margin-left: 0 !important
        font-size: 20px

    @media (max-width: 567px)
      button
        font-size: 16px
