body.properties,
body.customer_properties
  .property-listing
    .panel-body
      padding: 21px

    table
      border: none

      td
        border: none !important
        vertical-align: middle

        &.main
          width: 100%

    .btn
      pointer-events: all !important
