div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak { page-break-inside: avoid; }

.mt-10 {
  padding-top: 20px;
}

div.calc-container {
  margin-bottom: 10px;
}

div.calc-left {
  // background: red;
  display: inline-block;
  max-width: 70%;
  text-align: left;
}

div.calc-right {
  // background: blue;
  display: inline-block;
  max-width: 30%;
  text-align: right;
  float: right;
}

.signature-container {
  display: inline-block;
  text-align: left;
  margin-right: 35px;

  .signature-inner-box {
    margin-top: 25px;
    p {
      margin: 0;
    }
  }
}

.bottom-signature {
  float: right;
  span {display: block; text-align: center;}
  font-size: 18px;
}
