# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 07e3242325ad3f4feb4ec36e26498bad9e92b92027b2a20b5d269efe4f2cbff4e525ad337a7a0233d1fd470ec851e1bc9d477b7a37e53bdb6f6d4326959853bd

test:
  secret_key_base: 13b47407c1f0f03dc9c18b6c2b282163684831d9df3b97a330de0dfaa1d3742f74fc0076caa161c18930bcc5d58e34f92d6902e6fb0ccc23637a631f9eac8a69

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
