@import "font-awesome";

.customer-login {
  padding: 4px 8px 3px;
  margin: -5px 0 -4px;
  font-weight: 500;
  letter-spacing: 1.4px;
}

input.labelauty + label > span.labelauty-unchecked-image {
  @extend .fa;

  background-image: none;
  height: 12px;
  opacity: .65;
  font-size: 8px;
  text-align: center;

  &:before {
    @extend .fa-circle:before;
  }
}

input.labelauty + label > span.labelauty-checked-image {
  @extend .fa;

  background-image: none;
  font-size: 18px;
  text-align: center;

  &:before {
    @extend .fa-check, :before;
  }
}
