div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak { page-break-inside: avoid; }

*, p, strong {

}

body {
  font-size: 20px;
  line-height: 24px;
  font-family: Times, serif;

  h1 {
    padding-bottom: 25px;
  }
}

.m-10 {
  margin: 40px 0;
}

.underline {
  text-decoration: underline;
}

.upper-border {
  border-top: 1px solid #000;
}

.text-center {
  text-align: center;
}

.mt-10 {
  padding-top: 20px;
}

div.calc-container {
  margin-bottom: 10px;
}

div.calc-left {
  display: inline-block;
  align-self: auto;
  text-align: left;
  max-width: 65%;
}

div.calc-right {
  display: inline-block;
  align-self: auto;
  text-align: right;
  float: right;
}

.signature-container {
  display: inline-block;
  text-align: left;
  margin-right: 35px;

  .signature-inner-box {
    margin-top: 25px;
    p {
      margin: 0;
    }
  }
}

.bottom-signature {
  // display: block;
  // height: 200px;
  // background-color: red;
  position: relative;
  .initialer {
    position: absolute;
    right: 0;
    top: -15px;
    // float: right;
    span {display: block; text-align: center;}
  }
}
